$color-primary:tomato;
$color-secondary:rgb(149, 0, 255);
$color-tertiary: #333;
$white-color:#FFF;
$mate-grey-color:#f7f7f7;
$shadow-grey: 0 2rem 4rem rgba($color: grey, $alpha: .4);
$gradient-secondary:linear-gradient(to right bottom, lighten($color-secondary, 20%), purple);