<h2 class="heading-secondary">Contact us</h2>
<form action="/sendEmail" method="POST" class="footer__form form form--block">
    <input class="form--block__input" type="email" placeholder="exemple@gmail.com" name="email" required autofocus>
    <input class="form--block__input" type="text" placeholder="email account username (like gmail username)" name="username" required>
    <textarea name="message" class="form--block__message"  placeholder="write your message here..." name="message" cols="30" rows="4" maxlength="500"></textarea>
    <button class="btn  form--block__btn">Send &rarr;</button>
</form>
