<div class="popup" id="popup-signout">
    <a class="popup__closer btn" href="#closer">X</a>
    <div class="popup__container form-container">
        <h1 class="heading-primary u-mb-md">
            Signout
        </h1>
        <form action="/signout" class="popup__form form form--block" method="POST">
            <input type="text" name="username" placeholder="a username" class="form--block__input" required autofocus>
            <input type="email" name="email" placeholder="an email adress" class="form--block__input" required>
            <input type="password" name="password" placeholder="a password" class="form--block__input" required>
            <button class="form--block__btn btn">Send &rarr;</button>
        </form>
    </div>
    <img srcset="/img/auth-vector-small.jpeg 600w, /img/auth-vector-large.jpeg 1200w" sizes="(max-width:26.5625em) 48vw,(min-width:37.6em) 40vw" alt="" class="popup__image">
</div>


