.gallery {
    &-inline {
        display: flex;
        &>* {
            flex: 1;
        }
    }
    &__image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px $white-color solid;
        @include respond(md) {
            width: 100px;
            height: 100px;
        }
    }
}