* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include respond(md) {
        font-size: 55%;
    }
    @include respond(md) {
        font-size: 50%;
    }
}

body {
    position: relative;
}

::selection {
    background-color: lighten($color: $color-secondary, $amount: 20%);
    color: $white-color;
}