.center-text {
    text-align: center !important;
}

.flexbox-center-xy {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flexbox-center-y {
    display: flex !important;
    align-items: center !important;
}

.flexbox-center-x {
    display: flex !important;
    justify-content: center !important;
}

.u-mt-sm {
    margin-top: 3rem !important;
}

.u-mt-md {
    margin-top: 6rem !important;
}

.u-mb-md {
    margin-bottom: 6rem !important;
}