.about-section {
    display: flex;
    @include flexbox-center-y;
    justify-content: space-around;
    background-image: $gradient-secondary;
    padding: 20rem 0;
    &>* {
        flex: 0 0 20%;
    }
    @include respond(md) {
        padding: 6rem 0;
        flex-direction: column;
        &>* {
            @include set-width-center(60%);
            &:not(:last-child) {
                margin-bottom: 8rem;
            }
        }
    }
}