.side-bar {
    background-color: $color-tertiary;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 37.5em) {
        min-height: 100vh;
    }
    @include respond(sm) {
        flex-direction: row;
        &__legal-text {
            display: none;
            height: 0;
        }
    }
    &__list {
        list-style: none;
        height: 40rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include respond(sm) {
            flex: 1;
            flex-direction: row;
            height: 8rem;
            padding: 0;
            @include flexbox-center-xy;
            &>* {
                flex: 1;
                height: 100%;
            }
        }
    }
    &__item {
        padding-left: 1rem;
        color: $white-color;
        cursor: pointer;
        @include flexbox-center-y;
        flex: 1;
        transition: all .4s;
        &:hover {
            background-color: $color-secondary;
        }
    }
    &__icon {
        fill: currentColor;
        width: 2rem;
        height: 2rem;
    }
    &__link {
        padding-left: 8px;
        font-family: "Lato", sans-serif;
        font-size: 1.6rem;
        color: $white-color;
        text-decoration: none;
        flex: 1;
        height: 100%;
        @include flexbox-center-y;
    }
    &__legal-text {
        color: darken($color: $mate-grey-color, $amount: 30%);
        text-align: center;
        margin-top: auto;
        font-size: 1.3rem;
        padding-bottom: 3rem;
    }
}